@import 'jeet'
// edit()

$site-width      = 1100px
$line-height     = 1.4em
$font-size       = 14px

$primary-color   = #01673a // Green
$secondary-color = #ffd200 // Yellow
$another-color   = #af9840 // Golden
$text-color      = #393939 // Grey
$light-color     = #fff // White




// Globals
// ----------------------------------------
*
  box-sizing: border-box
  margin: 0
  padding: 0


body
  background: $primary-color
  color: $light-color
  font-family: 'Roboto', Arial, sans-serif
  font-size: $font-size




// Sample Separator
// ----------------------------------------
